/* HeroDetailComponent's private CSS styles */
/* ヒーロー詳細画面のスタイル */

/* ラベルのスタイル */
label {
  color: #435960; /* 文字色（深いブルーグレー） */
  font-weight: bold; /* 太字 */
}
/* ヒーロー名編集用入力フィールド */
input {
  font-size: 1em; /* フォントサイズ */
  padding: .5rem; /* 内側余白 */
}
/* アクションボタンのスタイル */
button {
  margin-top: 20px; /* 上の余白 */
  margin-right: .5rem; /* 右の余白 */
  background-color: #eee; /* 背景色（薄いグレー） */
  padding: 1rem; /* 内側余白 */
  border-radius: 4px; /* 角を丸く */
  font-size: 1rem; /* フォントサイズ */
}

/* ボタンのホバー時 */
button:hover {
  background-color: #cfd8dc; /* 背景色を少し濃く */
}

/* ボタンが無効化された時 */
button:disabled {
  background-color: #eee; /* 背景色を次り戦時 */
  color: #ccc; /* 文字色を薄く */
  cursor: auto; /* カーソルを通常に戻す */
}